header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

 .header__container{
    text-align: center;
    height: 100%;
    position: relative;
} 

/* ======================== CTA ================*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


/* ======================== HeaderSocial ================*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    /* left: 0;
    bottom: 3rem; */
    left: -38rem;
    bottom: -30rem;
    position: relative;
    /* add */
    top: calc(50% - 1rem);

}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;;
}
@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
  }

.Typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    color: var(--color-white);
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

/* ======================== ME ================*/
.me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius:  12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    top: calc(50% - 11rem);

}

/* ======================== Scroll ================*/

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ============================= media queries (medium devices) ==============================*/
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}

/* ============================= media queries (small devices) ==============================*/
@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .header__socials,.scroll__down{
        display: none;
    }
}